<mat-toolbar>
  <img class="logo" src="./assets/images/golden-crown.jpg">
  <span>Lets play</span>

  <div class="example-spacer"></div>
  <a mat-button>
    <mat-icon>home</mat-icon>
    Home</a>
  <a mat-button>
    <img src="./assets/images/person-group.svg" height="24px" width="24px">
    Trustees</a>
  <a mat-button>
    <img src="./assets/images/person.svg"  height="24px" width="24px">
    Professional</a>
    <!-- open popup/dialog with button -->
  <a mat-raised-button color="warn" class="example-icon" (click)="openModal()"> Edit Profile</a>
  <!-- open popup/dialog with icon button -->
  <!-- <button mat-icon-button class="example-icon" (click)="openModal()">
    <img src="./assets/images/user-icon.svg" class="user">
  </button> -->
</mat-toolbar>
