<mat-sidenav-container>
  <!-- <mat-sidenav mode="side" opened> -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <img class="avatar mat-elevation-z8" src="assets/images/profile.jpg">
    <h4 class="name">Jone Smith</h4>
    <div>
      <p class="designation">CFA CIC</p>
    <span>
      <img src="./assets/images/golden_crown_312687.jpg" width="24px" height="24px">
      Premium Member
    </span>
    </div>

    <div class="mb-3">
      <span>
        <img  src="assets/images/school-img.svg" class="school"> Insurance Agent, Attorney,
      <!-- <p><img  src="assets/images/school-img.svg" class="school"> Insurance Agent, Attorney,</p> -->
        Accountant
    </span>
    </div>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>mail</mat-icon>
      <span class="span-text">Send an Email</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      Main Content
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
